@using Microsoft.AspNetCore.Mvc.TagHelpers
@using TrustTrade.ViewModels
@model PostDetailsVM

@{
    ViewData["Title"] = "Post Details";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <p>
                <!-- Profile Links -->
                <a asp-controller="Profile" 
                    asp-action="UserProfile" 
                    asp-route-username="@Model.Username"
                    class="image-profile-link">
                    <img src="https://placehold.co/600x400/png"
                        alt="Profile Image" 
                        class="rounded-circle" 
                        style="width: 40px; height: 40px;" />
                    </img>
                </a>
                <a asp-controller="Profile" 
                    asp-action="UserProfile" 
                    asp-route-username="@Model.Username"
                    class="username-profile-link ms-1">
                    @Model.Username
                </a>
                <!-- Display Plaid Info If Enabled-->
                @if (Model.IsPlaidEnabled)
                {
                    <span class="text-success ms-1">
                        @if (!string.IsNullOrEmpty(Model.PortfolioValueAtPosting))
                        {
                            <span>@Model.PortfolioValueAtPosting</span>
                        }
                        <i class="bi bi-patch-check-fill"></i>
                        <!-- Consider whether or not to add this <small> Plaid Enabled</small> -->
                    </span>
                }
                <!-- Display Time Ago -->
                <span class="text-muted ms-2">@Model.TimeAgo</span>
            </p>
            <!-- Consider whether or not to add this tag here <hr /> -->
            <!-- Display Main Post Content -->
            <h2 class="card-title mt-3">@Model.Title</h2>
            <p class="card-text mt-4">@Model.Content</p>
            <!-- Like and Comment Buttons -->
            <div class="d-flex align-items-center mt-4">
                <button class="btn btn-primary position-relative">
                    <i class="bi bi-hand-thumbs-up"></i> @Model.LikeCount
                </button>
                <button class="btn btn-primary position-relative ms-4">
                    <i class="bi bi-chat"></i> @Model.CommentCount
                </button>
            </div>
        </div>
    </div>
</div>
